.container{
  max-width: 1300px;
  padding: 16px;
  margin: auto;
}
button{
  background-color: black;
  color: aliceblue;
  padding: 10px;
  font-size: 15px;
  border-radius:3px ;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #333;
}


.btn-pri{
  background-color: #9199A3;
  border: none;
}

.online .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
 
}
.online-heading{
  font-weight: 700;
  font-size: 30px;
  line-height: 72px;
}
.online-btn button {
margin-left: 37px;

}

.online-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.content img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.content span{
font-size: 25px;
font-weight: 500;
line-height: 28.8px;

}
.content p{
font-size: 18px;
font-weight: 500;
line-height: 28.8px;
margin-left: 28px;
}


.online-con{
  display: none;
}
.show-con{
  display: block;

}

@media (max-width: 768px) {

  .online .container {
    flex-direction: column; 
    align-items: center; 
  }

  .online-heading {
    font-size: 24px; 
    line-height: 36px; 
    text-align: center; 
  }

  .online-btn button {
    margin: 0; 
    margin-bottom: 10px; 
    margin-left: 10px;
  }

  .online-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
  }
  .online-con div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .online-con span {
    font-size: 24px; 
    line-height: 32px; 
    text-align: center; 
  }

  .online-con p {
    font-size: 16px; 
    line-height: 24px; 
    text-align: center; 
  }
}
